<ion-header [translucent]="true">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
  <div class="barra-sup">
    <h4>Generar QR</h4>
    <img src="../../../assets/imgs/Logo_DuocUC.svg.png" alt="Logo" class="Duoc">
  </div>
</ion-header>

<ion-content [fullscreen]="true">

  <qr-code [value]="valorQR" 
        size="300" 
        errorCorrectionLevel="M" />
        <ion-input [(ngModel)]="valorQR"></ion-input>

      <ion-button expand="block" (click)="Lista()">Leer QR</ion-button>

      <ion-button expand="block" (click)="Volver()">Volver</ion-button>
</ion-content>
