<ion-header [translucent]="true">
  <div class="barra-sup">
    <h4>Generar GR</h4>
    <img src="../../../assets/imgs/Logo_DuocUC.svg.png" alt="Logo" class="Duoc">
  </div>
</ion-header>

<ion-content [fullscreen]="true">

  <qr-code [value]="valorQR" 
        size="300" 
        errorCorrectionLevel="M" />
        <ion-input [(ngModel)]="valorQR"></ion-input>

      <ion-button expand="block" (click)="Lista()">Leer QR</ion-button>

      <ion-button expand="block" (click)="Volver()">Volver</ion-button>
</ion-content>
