<ion-header [translucent]="true">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
  <div class="barra-sup">
    <h4>Generar QR</h4>
    <img src="../../../assets/imgs/Logo_DuocUC.svg.png" alt="Logo" class="Duoc">
  </div>
</ion-header>

<ion-content [fullscreen]="true" class="background">
<div style="padding: 30px;" class="container">
  <qr-code [value]="valorQR" size="300" errorCorrectionLevel="M" />

      <!-- <ion-input [(ngModel)]="valorQR"></ion-input> -->

      <!-- <ion-button expand="block" color="tertiary" (click)="Lista()">Leer QR</ion-button> -->

      <div class="timer-container">{{ tiempoTexto }}</div>
      <ion-progress-bar [value]="progreso"></ion-progress-bar>

      <ion-button expand="block" color="tertiary" (click)="Volver()">Volver</ion-button>
    </div>
</ion-content>
