.background{
	--background: none;
	background-image: url("../../../assets/imgs/NewCanvas1.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

label{
    color: #000000;
    font-weight: bold;
    margin-bottom: 5px;
}

.container{
    width: 400px;
    height: 500px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin-left: auto;
    margin-right: auto;
}

ion-input{
    --background: none;
    color: #000000;
	margin-top: 10px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
	background-color: rgb(255, 255, 255);
    border: 1px solid #ffffff;
}

.name{
    color: #000000;
}

ion-col{
    border: 1px solid #000000;
}