<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>CRUD Firebase</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">

<div style="padding: 30px;" class="container">
  <h2 class="name">Listado Alumnos</h2>
  <ion-grid>
    <ion-row *ngFor= "let alum of lista_alumnos">
      <ion-col class="name">Numero de seccion: {{alum.id_seccion}}</ion-col>
        <ion-col>Nombre completo: {{alum.nombre}} {{alum.apellido}}</ion-col>
        <ion-col>Rut: {{alum.rut}}</ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>



</ion-content>
