<ion-header [translucent]="true">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
  <div class="barra-sup">
    <h4>Informes</h4>
    <img src="../../../assets/imgs/Logo_DuocUC.svg.png" alt="Logo" class="Duoc">
  </div>
</ion-header>

<ion-content [fullscreen]="true" class="background">
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Informes asistencia</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <div class="Img">
              <img src="https://picsum.photos/id/25/200"/>
            </div>
          </ion-thumbnail>
          <ion-label>001D</ion-label>
          <ion-button slot="end" (click)="descargarPDF001D()">Descargar PDF</ion-button>
        </ion-item>
  
        <!--<ion-item>
          <ion-thumbnail slot="start">
            <div class="Img">
              <img src="https://picsum.photos/id/40/200"/>
            </div>
          </ion-thumbnail>
          <ion-label>002D</ion-label>
          <ion-button slot="end" (click)="descargarPDF002D()">Descargar PDF</ion-button>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <div class="Img">
              <img src="https://picsum.photos/id/70/200"/>
            </div>
          </ion-thumbnail>
          <ion-label>003D</ion-label>
          <ion-button slot="end" (click)="descargarPDF003D()">Descargar PDF</ion-button>
        </ion-item>-->
  
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" (click)="Volver()">Volver</ion-button>

  <ion-button (click)="cambiarAsistencia('786459123')">Actualizar</ion-button>
  
  <ion-button (click)="cambiarAsistencia('987654321')">Actualizar para Matin</ion-button>


</ion-content>
