.background{
	--background: none;
	background-image: url("../../../assets/imgs/NewCanvas1.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.barra-sup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .barra-sup h4 {
    margin: 0;
  }
  
  .Duoc {
    width: 100px; /* Tamaño personalizado para la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
  }