<ion-header [translucent]="true">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
  <div class="barra-sup">
    <img src="../../../assets/imgs/Logo_DuocUC.svg.png" alt="Logo" class="Duoc">
  </div>
</ion-header>

<ion-content [fullscreen]="true" class="background">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Mi lista de Asignaturas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-list>
            <ion-item *ngFor="let asig of Lista_asignaturas">
              <div class="Img">
                <img src="https://picsum.photos/200"/>
              </div>
              {{asig.Nombre_asignatura}}
              <div class="porcen">
                <h2>10%</h2>
              </div>
            </ion-item>
          </ion-list>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-button expand="block" (click)="Volver()">Volver</ion-button>
</ion-content>
