<ion-header [translucent]="true">
  <div>
    <h1 class="Mensaje_Bienvenida">¡Bienvenido!</h1>
</div>    
</ion-header>

<ion-content [fullscreen]="true"  class="background">

  <div style="text-align: center;margin-top: 100px;padding-left: 2px;">
  <ion-grid>

    <ion-row>
      <ion-col></ion-col>
      <ion-input label="Nombre usuario " placeholder="Ingrese nombre usuario" label-placement="floating" fill="solid"[(ngModel)]="nombre"></ion-input>
      <ion-col></ion-col>
    </ion-row>

    <ion-row>
      <ion-col></ion-col>
      <ion-input label="Contraseña" type="password" placeholder="Ingrese Contraseña" label-placement="floating" fill="solid" [(ngModel)]="password"></ion-input>
      <ion-col></ion-col>
    </ion-row>

    <ion-row>
      <ion-col></ion-col>
      <ion-button class="Boton" (click)="validar()">Entrar</ion-button>
      <ion-col></ion-col>
    </ion-row>
    

  </ion-grid>

</div>
</ion-content>
