<ion-header [translucent]="true">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
  <div class="barra-sup">
    <h4>HOME</h4>
    <img src="../../../assets/imgs/Logo_DuocUC.svg.png" alt="Logo" class="Duoc">
  </div>
</ion-header>

<ion-content [fullscreen]="true"  class="background">

  <div style="text-align: center;margin-top: 100px;padding-left: 2px;">
  <ion-grid>

    <ion-row>
      <ion-col></ion-col>
      <ion-input label="Nombre usuario " placeholder="Ingrese nombre usuario" label-placement="floating" fill="solid"[(ngModel)]="nombre"></ion-input>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-input label="Contraseña" type="password" placeholder="Ingrese Contraseña" label-placement="floating" fill="solid" [(ngModel)]="password"></ion-input>
      <ion-col></ion-col>
    </ion-row>

    <ion-row>
      <ion-col></ion-col>
      <ion-button class="Boton" (click)="validar()">Entrar</ion-button>
      <ion-col></ion-col>
    </ion-row>


    <ion-row>
      <ion-col></ion-col>
      <h6>¿Olvidaste tu contraseña?</h6>
      <ion-col></ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col></ion-col>
      
      <h6><a href="./agregar">¿No tienes una cuenta? ¡REGISTRATE!</a></h6>
      <ion-col></ion-col>
    </ion-row>

  </ion-grid>

</div>
</ion-content>

