.background{
	--background: none;
	background-image: url("../../../assets/imgs/NewCanvas1.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

label{
    color: #000000;
    font-weight: bold;
    margin-bottom: 5px;
}

.container{
    width: 400px;
    height: 250px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin-left: auto;
    margin-right: auto;
}

.barra-sup {
    
}

.Duoc{
    margin-left: 150px;
    width: 112px;
    height: 30px;
    display: flex;
    justify-content: space-around;
}

.Boton {width: 250%;}