<ion-header [translucent]="true">
  <div class="barra-sup">
    <h4>HOME</h4>
    <img src="../../../assets/imgs/Logo_DuocUC.svg.png"alt="" srcst="" class="Duoc">
  </div>
</ion-header>

<ion-content [fullscreen]="true" class="background">
  <h2>Bienvenido {{usuario}} </h2>
  <div class="container" style="text-align:center; margin-top: 250px;">
    <ion-grid>
      <ion-row>
        <ion-col></ion-col>
        <ion-button class="Boton" (click)="ListaCur()">Lista de Secciones</ion-button>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>

        <ion-grid>
          <ion-row>
        <ion-col></ion-col>
        <ion-button class="Boton" (click)="GenQR()">Generar QR</ion-button>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col></ion-col>
        <ion-button class="Boton" (click)="Informes()">Informes</ion-button>
        <ion-col></ion-col>
      </ion-row>
  </ion-grid>
  
  </div>
</ion-content>
