<ion-header [translucent]="true">

    <ion-header>
      Bienvenido {{usuario}}
    </ion-header>

</ion-header>

<ion-content [fullscreen]="true" class="background">
  <div class="container" style="text-align: center;margin-top: 100px;padding-left: 2px;">
    <ion-grid>
      <ion-row>
        <ion-col></ion-col>
        <ion-button class="Boton">Lista de Secciones</ion-button>
        <ion-col></ion-col>

        <ion-col></ion-col>
        <ion-button class="Boton">Generar QR</ion-button>
        <ion-col></ion-col>

        <ion-col></ion-col>
        <ion-button class="Boton">Informes</ion-button>
        <ion-col></ion-col>
      </ion-row>
  </ion-grid>
  </div>
</ion-content>
