<ion-header [translucent]="true">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
  <div class="barra-sup">
    <h4>HOME</h4>
    <img src="../../../assets/imgs/Logo_DuocUC.svg.png" alt="Logo" class="Duoc">
  </div>
</ion-header>

<ion-content [fullscreen]="true" class="background">
  <h2>¡Bienvenido {{usuario}}! </h2>
  <div class="container" style="text-align:center; margin-top: 120px;">
    <ion-grid>
      <ion-row>
        <ion-col></ion-col>
        <ion-button class="Boton" (click)="ListaCur()">Lista de Secciones</ion-button>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>

        <ion-grid>
          <ion-row>
        <ion-col></ion-col>
        <ion-button class="Boton" (click)="GenQR()">Generar QR</ion-button>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col></ion-col>
        <ion-button class="Boton" (click)="Informes()">Informes</ion-button>
        <ion-col></ion-col>
      </ion-row>
  </ion-grid>

  <ion-button expand="block" (click)="Volver()">Cerrar sesion</ion-button>
  <ion-button espand="block"(click)="recuperar()">Api</ion-button>
  
  </div>
</ion-content>
