<ion-header [translucent]="true">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
  <div class="barra-sup">
    <h4>GenQR</h4>
    <img src="../../../assets/imgs/Logo_DuocUC.svg.png" alt="Logo" class="Duoc">
  </div>
</ion-header>

<ion-content [fullscreen]="true" class="background">
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <div>
      <h2>Listado asignaturas</h2>
      <ion-list>
        <ion-item *ngFor="let asig of Lista_asignaturas">
          {{asig.Nombre_asignatura}}
        </ion-item>
      </ion-list>
    </div>
    </ion-card-content>
  </ion-card>
  
  <ion-button expand="block" (click)="Volver()">Volver</ion-button>

</ion-content>
