<ion-header [translucent]="true">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
  <div class="barra-sup">
    <h4>BIENVENIDO</h4>
    <img src="../../../assets/imgs/Logo_DuocUC.svg.png" alt="Logo" class="Duoc">
  </div>
</ion-header>

<ion-content [fullscreen]="true" class="background">
  <div style="text-align: center;margin-top: 100px;padding-left: 2px;">
    <ion-grid>
      <ion-row>
        <ion-col></ion-col>
        <ion-input label="Nombre completo" placeholder="ingrese nombre" labelPlacement="floating" fill="solid" [(ngModel)]="nombre"></ion-input>
        <ion-col></ion-col>
      </ion-row>

      <ion-row>
      <ion-col></ion-col>
      <ion-input label="Contraseña" placeholder="ingrese Contraseña" labelPlacement="floating" fill="solid" [(ngModel)]="contrasenia"></ion-input>
      <ion-col></ion-col>
    </ion-row>
      
    <ion-row>
      <ion-col></ion-col>
      <ion-button (click)="grabar()">Registrarme</ion-button>
      <ion-col></ion-col>
    </ion-row>

    <ion-row>
      <ion-col></ion-col>
      
      <h6><a href="./login">¿Tienes una cuenta? INICIA SESION</a></h6>
      <ion-col></ion-col>
    </ion-row>
    </ion-grid>
  </div>
</ion-content>


