<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">
  <div style="text-align: center;margin-top: 100px;padding-left: 2px;">
    <ion-grid>
      <ion-row>
        <ion-col></ion-col>
        <ion-input label="Nombre completo" placeholder="ingrese nombre" labelPlacement="floating" fill="solid" [(ngModel)]="nombre"></ion-input>
        <ion-col></ion-col>
      </ion-row>

      <ion-row>
      <ion-col></ion-col>
      <ion-input label="Direccion" placeholder="ingrese direccion" labelPlacement="floating" fill="solid" [(ngModel)]="direccion"></ion-input>
      <ion-col></ion-col>
    </ion-row>
      
    <ion-row>
      <ion-col></ion-col>
      <ion-input label="Telefono" placeholder="ingrese telefono" labelPlacement="floating" fill="solid" [(ngModel)]="telefono"></ion-input>
      <ion-col></ion-col>
    </ion-row>
      
    <ion-row>
      <ion-col></ion-col>
      <ion-button (click)="grabar()">Registrarme</ion-button>
      <ion-col></ion-col>
    </ion-row>
    </ion-grid>
  </div>
</ion-content>


