<ion-header [translucent]="true">
  <div class="barra-sup">
    <h4>BIENVENIDO</h4>
    <img src="../../../assets/imgs/Logo_DuocUC.svg.png" alt="Logo" class="Duoc">
  </div>
</ion-header>

<ion-content [fullscreen]="true" class="background">
  <div style="text-align: center;margin-top: 100px;padding-left: 2px;">
    <ion-grid>
      <ion-row>
        <ion-col></ion-col>
        <ion-input label="Nombre completo" placeholder="ingrese nombre" labelPlacement="floating" fill="solid" [(ngModel)]="nombre"></ion-input>
        <ion-col></ion-col>
      </ion-row>

      <ion-row>
      <ion-col></ion-col>
      <ion-input label="Direccion" placeholder="ingrese direccion" labelPlacement="floating" fill="solid" [(ngModel)]="direccion"></ion-input>
      <ion-col></ion-col>
    </ion-row>
      
    <ion-row>
      <ion-col></ion-col>
      <ion-input label="Telefono" placeholder="ingrese telefono" labelPlacement="floating" fill="solid" [(ngModel)]="telefono"></ion-input>
      <ion-col></ion-col>
    </ion-row>
      
    <ion-row>
      <ion-col></ion-col>
      <ion-button (click)="grabar()">Registrarme</ion-button>
      <ion-col></ion-col>
    </ion-row>

    <ion-row>
      <ion-col></ion-col>
      
      <h6><a href="./login">¿Tienes una cuenta? INICIA SESION</a></h6>
      <ion-col></ion-col>
    </ion-row>
    </ion-grid>
  </div>
</ion-content>


