.background{
	--background: none;
	background-image: url("../../../assets/imgs/NewCanvas1.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.container{
  width: 400px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: auto;
}

.barra-sup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .barra-sup h4 {
    margin: 0;
  }
  
  .Duoc {
    width: 100px;
    height: auto;
  }

  ion-col{
    border: 1px solid #000000;
}

  .header-row{
    background-color: #553F73;
    color: white;
  }

  .content-col{
    background-color: #F3E399;
  }