<ion-header [translucent]="true">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
  <div class="barra-sup">
    <h4>VER</h4>
    <img src="../../../assets/imgs/Logo_DuocUC.svg.png" alt="Logo" class="Duoc">
  </div>
</ion-header>

<ion-content [fullscreen]="true" class="background">


  <div>
    <label for="criterio">Criterio de búsqueda:</label>
    <select [(ngModel)]="criterio">
      <option value="nombre">Nombre</option>
      <option value="apellido">Apellido</option>
      <option value="rut">RUT</option>
      <option value="id_seccion">Sección</option>
    </select>
  
    <label for="valor">Valor:</label>
    <input type="text" [(ngModel)]="valor" placeholder="Ingresa el valor a buscar">
  
    <button (click)="buscarAlumnos()">Buscar</button>
  </div>
  
  <div *ngIf="lista_alumnos.length > 0; else noResultados">
    <h3>Resultados de la búsqueda:</h3>
    <ul>
      <li *ngFor="let alum of lista_alumnos">
        {{ alum.nombre }} {{ alum.apellido }} - RUT: {{ alum.rut }}
      </li>
    </ul>
  </div>
  
  <ng-template #noResultados>
    <p>No se encontraron resultados o la lista no se ha actualizado.</p>
  </ng-template>












  <div style="padding: 30px;" class="container">
    <h2 class="name">Listado Alumnos</h2>
    <ion-grid *ngIf="lista_alumnos.length > 0">
      <ion-row class="header-row">
        <ion-col size="3" class="header-col"><b>Seccion</b></ion-col>
        <ion-col size="3" class="header-col"><b>Nombre completo</b></ion-col>
        <ion-col size="3" class="header-col"><b>Rut</b></ion-col>
        <ion-col size="3" class="header-col"><b>Asistencia</b></ion-col>
      </ion-row>
      <ion-row *ngFor="let alum of lista_alumnos">
        <ion-col size="3" class="content-col">{{alum.id_seccion}}</ion-col>
        <ion-col size="3" class="content-col">{{alum.nombre}} {{alum.apellido}}</ion-col>
        <ion-col size="3" class="content-col">{{alum.rut}}</ion-col>
        <ion-col size="3" class="content-col">{{alum.asiste}}</ion-col>
      </ion-row>
      <h1></h1>
      <ion-button (click)="Volver()">Volver</ion-button>
    </ion-grid>
    <div *ngIf="lista_alumnos.length === 0">
      No hay alumnos para mostrar.
    </div>
  </div>


</ion-content>
