.background{
	--background: none;
	background-image: url("../../../assets/imgs/NewCanvas1.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}


.barra-sup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .barra-sup h4 {
    margin: 0;
  }
  
  .Duoc {
    width: 100px;
    height: auto;
  }

  .Img{
    width: 60px;
    height: 50px;
    margin: 10px;
  }