<ion-header [translucent]="true">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
  <div class="barra-sup">
    <h4>Lista de cursos</h4>
    <img src="../../../assets/imgs/Logo_DuocUC.svg.png" alt="Logo" class="Duoc">
  </div>
</ion-header>

<ion-content [fullscreen]="true" class="background">
  
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-icon size="large" name="file-tray-full-outline"></ion-icon>
          </ion-thumbnail>
          <ion-label>Item</ion-label>
          <ion-button slot="end" class="boton" (click)="PorCur()">Asistencia</ion-button>
        </ion-item>
        
  
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-icon size="large" name="file-tray-full-outline"></ion-icon>
          </ion-thumbnail>
          <ion-label>Item</ion-label>
          <ion-button slot="end" (click)="PorCur()">Asistencia</ion-button>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-icon size="large" name="file-tray-full-outline"></ion-icon>
          </ion-thumbnail>
          <ion-label>Item</ion-label>
          <ion-button slot="end" (click)="PorCur()">Asistencia</ion-button>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-icon size="large" name="file-tray-full-outline"></ion-icon>
          </ion-thumbnail>
          <ion-label>Item</ion-label>
          <ion-button slot="end" (click)="PorCur()">Asistencia</ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" (click)="Volver()">Volver</ion-button>

</ion-content>
