<ion-header [translucent]="true">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
  <div class="barra-sup">
    <h4>Lista de cursos</h4>
    <img src="../../../assets/imgs/Logo_DuocUC.svg.png" alt="Logo" class="Duoc">
  </div>
</ion-header>

<ion-content [fullscreen]="true" class="background">
  
  <ion-card>
    <ion-card-content>
      <ion-card-header>
        <ion-card-title>Listado asignaturas</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div>
        <ion-list>
          <ion-item *ngFor="let asig of Lista_asignaturas">
            <div class="Img">
              <img src="https://picsum.photos/200"/>
            </div>
            {{asig.Nombre_asignatura}}
            <ion-button name="Asistencia" slot="end" class="boton" (click)="PorCur()">Asistencia</ion-button>
          </ion-item>
        </ion-list>
      </div>
      </ion-card-content>

  <ion-button expand="block" (click)="Volver()">Volver</ion-button>

