.contenedor{
	text-align: center;
	margin-top: -20px;
	margin-left: 70px;
	width: 200px;
	height: 100px;
}

h1{
	font-size: 60px;
    margin-top: 50px;
	text-align: center;
}

.background{
	--background: none;
	background-image: url("../../../assets/imgs/NewCanvas1.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.mensaje{
	text-align: center;
}