<ion-header [translucent]="true">
  <div class="barra-sup">
    <h4>HOME</h4>
    <img src="../../../assets/imgs/Logo_DuocUC.svg.png" alt="Logo" class="Duoc">
  </div>
</ion-header>

<ion-content [fullscreen]="true" class="background">
  <div class="contenedor">
      <div class="ejemplo"><img src="../../../assets/imgs/EsQr.png"alt="" srcst=""></div>
      <ion-button (click)="splash()">Volver</ion-button>
      <ion-button class="Boton" (click)="confir()">X ahora</ion-button>
  </div>
</ion-content>
