.background{
	--background: none;
	background-image: url("../../../assets/imgs/NewCanvas1.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.contenedor{
	text-align: center;
	margin-top: 100px;
}

.ejemplo {
	width: 350px;
	height: 550px;
	margin-top: -90px;
	margin-left: 45px;
	margin-bottom: -60px;
}